.name-top {
    width: 261px !important;
    text-align: end !important;
    justify-content: end !important;
}

.name-top span {
    display: block !important;
    padding-right: 13px;
}

.name-top:hover {
    background: none !important;
}

.fz-1{
    font-size: 1rem !important;
}

.layout-topbar-button .p-avatar-circle {
    width: 2.5rem !important;
    height: 2.5rem !important;
}